@font-face {
    font-family:ArchitectsDaughter;
    src:url(../Fuentes/ArchitectsDaughter.ttf);
}
@font-face {
    font-family:NewsCycle-Bold;
    src:url(../Fuentes/NewsCycle-Bold.ttf);
}
@font-face {
    font-family:NewsCycle-Regular;
    src:url(../Fuentes/NewsCycle-Regular.ttf);
}