* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family:'NewsCycle-Regular',cursive;
}
h1,h2,h3,h4,h5,h6 {
    font-family:ArchitectsDaughter,cursive;
}
header {
    position: fixed;
    width: 100%;   
    height: 60px;
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    z-index: 1000;
    transition: all .5s;
}
/*BOTON DE IR ARRIBA*/

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    /*REGLA FLEXBOX*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contenedor .logo {
    height: 60px;
    /*REGLA FLEXBOX*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedor .logo span{
    font-size: 45px;
}
.contenedor .logo p {
    display: inline-block;
    font-family: cursive;
    text-align: center;
    font-size: 45px;
    padding: 15px 0px 0px 0px;
}
/*CHECKBOX*/
#btn-menu {
    display: none; 
}
/*ICONO DE HAMBURGUESA*/
header label {
    font-size: 30px;
    cursor: pointer;
    display: none;
}
header .blanco {
    width: 42px;
    height: 50px;
    display: none;
}
/*MENU*/
.menu ul {
/*    background: #ce852a;*/
    display: flex;
    list-style: none;
}
.menu ul ul {
    display: none;
}
.menu a {
    display: block;
    padding: 17px 20px;
    color: #fff;
    text-decoration: none;
}
.menu a:hover {
    background: rgba(0,0,0,0.3);
}
.menu a span {
    margin-left: 6px;
}
.menu ul li:hover ul {
    background: rgba(0,0,0,.8);
    display: block;
    position: absolute;
}
.menu ul li ul li:hover a {
    color: #ffff00;
}

@media (max-width:880px) {
    .contenedor {
        width: 97%;
        flex-direction: row;
        justify-content: space-between;
    }
    .contenedor .logo span {
        font-size: 30px;
    }
    .contenedor .logo p {
        font-family: cursive;
        text-align: center;
        font-size: 30px;
        padding: 0px;
    }
    header .blanco {
        display: block;
    }
    header label {
        display: block;
    }
    .menu {
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        transform: translateX(-100%);
        transition: all 0.3s;
    }
    .menu ul {
        flex-direction: column;
        background: rgba(0,0,0,.8);
    }
    .menu ul li:hover ul {
        display: none;
        position: static;
    }
    .menu span {
        position: absolute;
        right: 16px;
    }
    #btn-menu:checked ~ .menu {
        transform: translateX(0%);
    }
    .menu ul ul {
        background: rgba(0,0,0,0.4);
    }
    .menu ul ul a {
        padding: 15px 40px;
    }
}

/*---------------------------------CONTENIDO PRINCIPAL DE LA PÀGINA---------------------------------*/

/*------------------------INICIO------------------------*/
.informacion {
    width: 100%;
    height: 600px;
/*    background: #D7DBDD;*/
    display:inline-flex;
    align-items: center;
}
.informacion .contenedor_informacion {
/*    background: red;*/
    width: 90%;
    max-width: 1000px;
    margin: auto;
    /*REGLA FLEXBOX*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.informacion .contenedor_informacion article {
    border-left: 1px solid #DBE1E7;
    width: 300px;
    height: 500px;
    position: relative;
}
.informacion .contenedor_informacion article .fondo{
    width: 100%;
}
.informacion .contenedor_informacion article .radial{
    width:90px;
    border-radius: 50%;
/*
    position: absolute;
    top:135px;
    left: 100px;
*/  
    position: relative;
    display: block;
    z-index: 1000;
    margin: -54px auto;
    z-index: 100;
    background:#DBE1E7;
    padding: 4px;
}
.informacion .contenedor_informacion article h2{
    text-align: center;
    color: #7B848C;
    margin: 60px 0px 0px 0px;
}
.informacion .contenedor_informacion article .descripcion{
    text-align: justify;
    color: #B0B8BE;
    padding:10px 30px;
}

/*------------------------PRESENTACION------------------------*/

.presentacion {
    width: 100%;
    height: 400px;
    background: #FFCC01;
}
.presentacion .contenedor_presentacion {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    /*REGLA FLEXBOX*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.presentacion .contenedor_presentacion article {
    width: 48%;
    height: 200px;
    border-bottom:1px solid #fff;
    /*REGLA FLEXBOX*/
    display: flex;
/*    justify-content: center;*/
    align-items: center;
    
}
.presentacion .contenedor_presentacion article span {
/*    font-size: 80px;*/
    font-size: 70px;
    padding: 5px;
    background: #7B072E;
    color: #fff;
    margin-right:20px;
}
.presentacion .contenedor_presentacion article .contenido_descripcion {
    height: 130px; 
}
.presentacion .contenedor_presentacion article .contenido_descripcion h2{
/*    text-align: center;*/
}
.presentacion .contenedor_presentacion article .contenido_descripcion p{
    text-align: justify;
}
/*--------------------------CARACTERÌSTICA--------------------------*/
.caracteristica {
    width: 100%;
    height: 350px;
}
.caracteristica .contenedor_caracteristica {
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: auto;
    /*REGLAS FLEXBOX*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.caracteristica .contenedor_caracteristica .cont_pat {
    color: #FFBD33;
}
.caracteristica .contenedor_caracteristica h2 {
        text-align: center;
}
.caracteristica .contenedor_caracteristica p {
    color: #000;
}
.caracteristica .contenedor_caracteristica .cont_pat span:nth-child(even){
    font-size: 25px;
}
.caracteristica .contenedor_caracteristica .icon-stethoscope {
    color: #FFBD33;
    font-size: 60px;
}
/*--------------------------MISION Y VISION--------------------------*/
.mision_vision {
    width: 100%;
    height: 600px;
    background: red;
    display: flex;
    flex-wrap: wrap;
}
.mision_vision .imagen_mv {
    width: 50%;
    height: 100%;
/*    background: url(../Imagenes/Banner/Slider_3.jpeg)no-repeat 50% 50%;*/
    background: url(../Imagenes/Cuerpo/perrito.gif)no-repeat 50% 50%;
    background-size: cover;
}
.mision_vision .contenedor_items{
    width: 50%;
/*    height: 100%;*/
    background: green;    
}
.mision_vision .contenedor_items .contenedor_descripcion{
    width: 100%;
    height: 200px;
}
.mision_vision .contenedor_items .contenedor_descripcion .contenedor_mv{
    width: 74%;
}
.mision_vision .contenedor_items .contenedor_descripcion .contenedor_mv .cont_total{
    width: 100%;
    /*REGLA FLEXBOX*/
    display: flex;
    align-items: center;
}
.mision_vision .contenedor_items #mision {
    background: #541128;
}
.mision_vision .contenedor_items #vision {
    background: #7B072E;
}
.mision_vision .contenedor_items #valores {
    background: #930e3b;
}
.mision_vision .contenedor_items .contenedor_descripcion span{
    background: #FFBC33;
    color: #fff;
    padding: 20px;
    font-size: 1.5em;
/*    border-radius: 50%;*/
    margin: 0px 40px 0px 40px;
    transition: all 1s;
    transform: rotate(0deg);
}
.mision_vision .contenedor_items .contenedor_descripcion .cont_total:hover span{
    transform: rotate(360deg);
  }

.mision_vision .contenedor_items .contenedor_descripcion .contenido_items {
    height: 200px;
    /*REGLA FLEXBOX*/
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mision_vision .contenedor_items .contenedor_descripcion .contenido_items h2 {
    color: #fff;
}
.mision_vision .contenedor_items .contenedor_descripcion .contenido_items p {
    color: #fff;
    text-align: justify;
}
/*--------------------------COLABORADORES--------------------------*/
.colaboradores {
    width: 100%;
    height: 350px;
}
.colaboradores .contenedor_colaboradores {
    width: 90%;
    height: 100%;
    max-width: 1000px;
    margin: auto;
    /*REGLA FLEXBOX*/
    display: flex;
    align-items: center;
}
.colaboradores .contenedor_colaboradores article {
    width: 100%;
}
.colaboradores .contenedor_colaboradores article video{
    width: 100%;
    height: 320px;
}

/*--------------------------FOOTER--------------------------*/
footer {
    width: 100%;
    height: 400px;
    position: relative;    
}
footer .footer_inicial {
    width: 100%;
    height: 320px;
    background:url(../Imagenes/Banner/Slider_2.jpg) no-repeat 50% 50%;
    background-size: cover;
    /*REGLAS FLEXBOX*/
    display: flex;
    
}
footer .footer_inicial:before {
    content: "";
    width: 100%;
    height: 320px;
    background: #000;
    position: absolute;
    opacity: .8;
}
footer .footer_inicial .contenedor_footer {
    position: relative;
    width: 90%;
/*    height: 320px;*/
    max-width: 1000px;
    margin: auto;
    /*REGLA FLEXBOX*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer .footer_inicial .contenedor_footer h2{
    font-size: 2em;
}
footer .footer_inicial .contenedor_footer h2,p { 
    color: #fff;
    text-align:center;
    margin: 10px 0px;
}
footer .footer_inicial .contenedor_footer .form input[type=submit] {
    border: none;
    width: 180px;
    height: 30px;
    background: #0099EB;
    color: #fff;
    font-weight:bold;
}
footer .footer_inicial .contenedor_footer .form {
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
footer .footer_inicial .contenedor_footer .form input[type=email] {
    border: 0;
    width: 350px;
    height: 30px;
    margin: 0px 25px;
    padding: 5px;
    text-align: center;
}

footer .footer_final {
    width: 100%;
    height: 80px;
    background: #0099EB;
}
footer .footer_final .contenedor_footer {
    width: 90%;
/*    height: 100%;*/
    height: 80px;
    max-width: 1000px;
    margin: auto;
    /*REGLAS FLEXBOX*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer .footer_final .contenedor_footer .redes_sociales,.logo_footer {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer .footer_final .contenedor_footer .redes_sociales a span {
/*     background: #fff;
    padding: 10px;
    border-radius: 50%;
    margin: 5px;    
    font-size: 20px; */
    font-size: 30px;
    margin: 5px;
    color:  #fff;
}
footer .footer_final .contenedor_footer .redes_sociales a:nth-child(1):hover span {
    color: #0000ff;
}
footer .footer_final .contenedor_footer .redes_sociales a:nth-child(2):hover span {
    color: #00FFE8;
}
footer .footer_final .contenedor_footer .redes_sociales a:nth-child(3):hover span {
    color: #ff0000;
}
footer .footer_final .contenedor_footer .redes_sociales a:nth-child(4):hover span {
    color: #ff0000;
}
footer .footer_final .contenedor_footer .logo_footer {
    color: #fff;
    font-family: cursive;
    font-size: 30px;
}

/*BOTON DE SUBIDA*/
.ir-arriba {
    display: none;
    padding: 20px;
    background: rgba(0, 153, 235,.5);
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    position: fixed;
    bottom: 5px;
    right: 20px;
    z-index: 1000;
    transition: all 1s;
}
.ir-arriba:hover {
    background: rgba(0, 153, 235,1);
}



/*MEDIAS*/

@media (max-width: 1000px) {
    .informacion {
        height: 100%;
    }
    .informacion .contenedor_informacion {
        width: 95%;
    }
    .informacion .contenedor_informacion article {
        margin: 20px 0px;
    }
    /*---PRESENTACIÒN---*/
    .presentacion {
        height:100%;
    }
    .presentacion .contenedor_presentacion {
        width: 95%;
        flex-direction: column;
    }
    .presentacion .contenedor_presentacion article {
        width: 100%;
    }
    .presentacion .contenedor_presentacion article .contenido_descripcion {
        overflow: scroll;
    }
    /*---MISIÒN Y VISIÒN---*/
    .mision_vision {
        height: 100%;
        flex-direction: column;
    }
    .mision_vision .imagen_mv {
        width: 100%;
    }
    .mision_vision .contenedor_items{
        width: 100%;
    }
    .mision_vision .contenedor_items .contenedor_descripcion .contenedor_mv{
        width: 97%;
    }
    .mision_vision .contenedor_items .contenedor_descripcion span{
        margin: 0px 40px 0px 18px;
    }
    
    
}
@media (max-width: 700px) {
    
    .informacion .contenedor_informacion article { 
        width: 100%;
        margin: 50px 0px;
    }
    /*---VIDEO---*/

    .colaboradores .contenedor_colaboradores article .img {
        display: none;
    }
    /*---FOOTER---*/
    footer .footer_inicial .contenedor_footer .form {
        margin-top: 30px;
        /*REGLA FLEXBOX*/
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    footer .footer_inicial .contenedor_footer .form input[type=submit] {
        width: 350px;
        margin-top: 10px;
    }
    
}
@media (max-width: 550px){
    footer .footer_inicial .contenedor_footer {
        width: 97%;
    }
    footer .footer_inicial:before {
        height: 100%;
    }
    footer .footer_inicial {
        height: 100%;
    }
    footer .footer_final {
        height: 100px;
    }
    footer .footer_final .contenedor_footer {
        flex-direction: column;
    }
    footer .footer_final .contenedor_footer .redes_sociales,.logo_footer {
        width: 100%;
    }
}
@media (max-width:400px) {
    /*---MISIÒN Y VISIÒN*/
    .mision_vision .contenedor_items .contenedor_descripcion .contenido_items h2 {
        font-size: 17px;
    }
    .mision_vision .contenedor_items .contenedor_descripcion .contenido_items p {
        font-size: 13px;
    }
    .mision_vision .contenedor_items .contenedor_descripcion .contenido_items {
        overflow: scroll;
    }
    /*---FOOTER---*/
    footer .footer_inicial .contenedor_footer h2{
        font-size: 1.5em;
    }
    footer .footer_inicial .contenedor_footer p { 
        color: #fff;
        text-align:center;
        margin: 10px 0px;
        font-size: 15px;
    }
    footer .footer_inicial .contenedor_footer .form input[type=submit]{
        width: 100%;
    }
    footer .footer_inicial .contenedor_footer .form input[type=email] {
        width: 100%;
    }
    footer .footer_final .contenedor_footer .redes_sociales a span {
        font-size: 20px;
    }
    footer .footer_final .contenedor_footer .logo_footer {
        font-size: 20px;
    }
    footer .footer_final .contenedor_footer {
        justify-content: center;
    }
}
@media (max-width:880px) {
    .ir-arriba {
    padding: 10px;
    font-size: 20px;    
}
}





